rustyms-generate-databases/data/*
!rustyms-generate-databases/data/CIAAW*
!rustyms-generate-databases/data/IUPAC*
/target
Cargo.lock
*/target/
errors.dat
*.dat.Z
*.dat
GNOme.obo
glycosmos_glycans_list.csv
.venv/
docs/**/_build/
out
out_peaks
out_pro_forma
out_sloppy_pro_forma
